CLOUDINARY_CLOUD_NAME=q7tdtq1h
CLOUDINARY_API_KEY=324984652911487
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=MediKiosk

B2_BUCKET_ID=1ce157ad68537b21ad0d081a
B2_KEY_ID=005c17d83b1dd8a0000000001
B2_KEY_NAME=medikiosk-backend
B2_APPLICATION_KEY=K005E5VDl1vEf2pW7kQwU38VoO1G/jE
B2_BUCKET_NAME=medikiosk-documents
B2_ENDPOINT_URL=https://s3.us-west-005.backblazeb2.com

FIRESTORE_PROJECT_ID=medikiosk1-cefd5
